:root {
    --header-height: 73px;
    --footer-height: 30px;
    --button-height: 40px;
    --color1: #fffa;
    --color2: #d101caaa;
    --color3: #3401abaa;
    --color4: #000;
    --color5: #d101ca;
    --header-bg-color: #222222;
    --header-font-color: #fff;
    --window-bg-color: #160829;
    --window-width: 80vw;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.hexagon {
    position: relative;
    margin-inline: 15px;
    --hexagon-bg-color: var(--color5);
    transition: opacity 200ms;
}

.hexagon::before, .hexagon::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    border: calc(var(--button-height) / 2) solid transparent;
    border-width: calc(var(--button-height) / 2) calc(var(--button-height) / 3);
}

.hexagon::after {
    right: 100%;
    border-right-color: var(--hexagon-bg-color);
}

.hexagon::before {
    left: 100%;
    border-left-color: var(--hexagon-bg-color);
}

.colored-text {
    color: var(--color5);
}

.text-input, .btn {
    font-size: calc(var(--button-height) / 2);
    height: var(--button-height);
    color: inherit;
    font-weight: inherit;
    font-family: inherit;
    border: none;
    outline: none;
}

.btn {
    transition: opacity 200ms;
}

.btn {
    cursor: pointer;
}

.btn:hover {
    opacity: .6;
}

.btn:focus-visible {
    box-shadow: 0 0 20px 2px var(--color3);
}

/***********************************************************************************************/

body {
    margin: 0;
    background:
        var(--color4)
        linear-gradient(var(--color1), var(--header-height), var(--color2), 60%, var(--color3));
    font-family: Arial, Helvetica, sans-serif;
    color: var(--header-font-color);
    font-weight: 600;
}

.root-container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: var(--header-height) 1fr var(--footer-height);
}

.main-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("background.png");
    background-size: 50px;
    z-index: -1;
    filter: invert(0%) sepia(12%) saturate(3299%) hue-rotate(74deg) brightness(72%) contrast(73%);
}

header {
    background-color: var(--header-bg-color);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.logo-box {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
}

.title {
    font-size: 30px;
    margin-left: 20px;
}

.search-bar {
    background-color: var(--color5);
    width: 74px;
    cursor: pointer;
    transition: width 200ms ease-in-out;
}

.search-bar:focus {
    width: 400px;
    cursor: text;
}

.login-btn {
    justify-self: end;
    background-color: var(--color5);
    margin-right: 35px;
}

.window {
    position: relative;
    min-height: 90vh;
    width: var(--window-width);
    display: grid;
    margin-inline: auto;
    background-color: var(--window-bg-color);
    margin-bottom: calc(var(--window-width) / 10);
}

.window::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: calc(var(--window-width) / 2) solid transparent;
    border-width: calc(var(--window-width) / 20) calc(var(--window-width) / 2);
    border-top-color: var(--window-bg-color);
    top: 100%;
}

footer {
    background-color: var(--color3);
    color: var(--color1);
    display: grid;
    place-items: center;
    font-size: 12px;
}