body
{
    background-color: #2C1B47;
    display: grid;
    place-items: center;
    margin:0;
}

#everything
{
    width:75%;
    position: absolute;
}


.form_row 
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
}