main {
  grid-template-columns: repeat(auto-fill, var(--window-width));
  grid-template-rows: repeat(auto-fill, var(--window-height));
  justify-content: center;
  justify-items: center;

  gap: var(--main-gap);
  padding: var(--main-gap);
  align-content: start;
}
